

header{
background-color: #fff549;
background-image: url("solar.jpg");
margin-left: 0;
padding-bottom: 150px;
padding-top: 150px;
}
h1{
  font-family: 'Bitter', serif;
font-size: 75px;
text-align: center;
color: white;
text-decoration: underline;
}
h2{
  text-decoration: underline;
}
div{
  border: 4px solid black;
  margin-top:80px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  background-color: white;
}
main{

}
body{
  margin: 0;
  background-image: url("background.jpg");
}
ul{
  text-align: center;
  list-style-type: none;
  padding: 30px;
}

li>a{
  text-decoration: none;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 40px;
}
li{
  display: inline;

}
