* {
  outline: 0;
  font-family: sans-serif;
}

*::selection{
  background-color: lightblue;
}

body {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
}

nav {
  z-index: 2;
}

html {
  height: 100%;
}

#Indexmain {
  background-color: inherit;
}

#IndexNav {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: white;
  align-items: center;
  font-size: 1.2vw;
  font-family: sans-serif;
  position: fixed;
  box-shadow: 0.05vw 0.05vw;
}

#IndexNav2 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: white;
  align-items: center;
  font-size: 1.2vw;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  box-shadow: 0.05vw 0.05vw;
}

main img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

input {
  width: 17vw;
  height: 0.5vw;
  border-radius: 0.5vw;
  padding: 1vw;
}

footer {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  background-color: rgb(213, 213, 213);
  border-top: solid black 0.05vw;
  bottom: 0;
  padding-right: 25vw;
  padding-left: 25vw;
}

footer h1 {
  grid-column: span 11;
  text-align: center;
}

main image {}

.Footertxt {
  font-family: monospace;
  font-size: 1vw;
  text-align: center;
}

.footertext {
  grid-column: span 3;
  text-align: center;
}

#Footerimg {
  width: 1vw;
}

#navSøk {
  grid-column: span 3;
  text-align: center;
}

#navLoginIndex {
  grid-column: span 6;
  transform: none;
  color: black;
  text-align: right;
  font-size: 1.4vw;
}

#navLogin {
  grid-column: span 2;
}

.navObjekt {
  text-align: center;
  transition: .14s ease-in-out;
}

.navObjekt:hover {
  color: rgb(0, 56, 205);
  transform: scale(1.2);
}

#LogoIndex {
  width: 15vw;
  transition: .14s ease-in-out;
  border-radius: 1vw;
  margin-right: 10vw;
}

#LogoIndex:hover {
  transform: scale(1.07);
}

#Mainbtn {
  display: block;
  margin: auto;
  margin-left: 2vw;
  width: 40vw;
  height: 7vw;
  font-size: 3vw;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  border-radius: 2vw;
  background-image: linear-gradient(rgba(175, 175, 175, ), rgba(142, 139, 139, ));
  opacity: 0.8;
  color: black;
  cursor: pointer;
}

#Mainsec {
  align-items: center;
  height: 26.33vw;
  padding-top: 26vw;
}

.innholdLogIn {
  text-align: center;
  padding: 10vw;
}

.innholdLogIn h1 {
  color: #308C8F;
}

.innholdLogIn a {
  list-style-type: none;
  color: #308C8F;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.4vw;
}

.LogIn {
  text-align: center;
  padding: 10vw;
  padding-bottom: 0vw;
}

.LogIn h1 {
  padding-bottom: 4vw;
}

.LogInnhold input {
  margin: 0.5vw;
  height: 0.2vw;
}

::-webkit-scrollbar {
  display: none;
}

#Navimg {
  text-align: right;
  display: block;
}

#Passord {}

#KomiGangbtn {
  margin: 1vw;
  padding: 0.9vw;
  border: solid gray 0.1vw;
  border-radius: 0.3vw;
  opacity: 0.9;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  font-family: monospace;
  font-size: 1vw;
  background-color: rgb(237, 237, 237);
  cursor: pointer;
}

#Profilinfo {
  grid-column: span 2;
}

#Annonse {

}

.Rundt {
  margin-bottom: 5vw;
  margin-top: 10vw;
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: center;
}

.Inni {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.Inni img {
  position: relative;
  width: 50%;
  z-index: 1;
}

.tekstInnhold {
  margin: 10vw;
  margin-top: 12vw;
  padding: 1vw;
  padding-right: 5vw;
  padding-left: 5vw;
  background-color: #e9e9e9;
}

.tekstOverskrift {
  margin: 3vw;
  text-align: center;
}

.tekstInformasjon {
  font-size: 1.2vw;
  text-align: left;
}

.Inni section {
  background-color: grey;
  margin: 0.5vw;
  padding-top: 0.5vw;
  transition: .2s ease-out;
  cursor: pointer;
  background-color: lightgrey;
}

.Inni section:hover {
  background-color: rgb(198, 198, 198);
  transform: scale(1.1);
  transition: .2s ease-in;
}

.jobbTema {
  margin: 20vw;
  text-align: center;
}

.jobbInnhold {
  display: grid;
  grid-template-columns: 1fr;
  border: solid black 0.3vw;
}

.jobbInnhold section {
  padding: 1vw;
  border-bottom: solid black 0.1vw;
  border-right: solid black 0.1vw;
  border-left: solid black 0.1vw;
}

.jobbInnhold section p {
  text-align: left;
}