header{
  background-image: url("internet.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 200px;
}
h1 {
  font-family: arial;
  font-size: 50px;
  text-align: center;
  color: springgreen;
}
body{
  margin: 0;
}
div{
margin-right: 50px;
margin-left: 50px;
margin-bottom: 50px;
padding: 5px;
border: 5px solid gray;
background-color: white;
}

main{
  background-color: #e9e9e9;
  padding-top: 50px;
}
*{
  font-family: cursive;
}
footer{
  background-color: #D8D8D8;
  padding: 100px;
}
.a{
  margin-bottom: 0;
}
