nav{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 10px;
  align-items: center;
  text-align: center;
  background-color: #e9e9e9;

}
/*Koden til dropdownliste under*/
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
a{
  text-decoration: none;
  color: black;
}
div button{
  display: inline;
  margin: 5px;
}
body{
  margin: 0;
}



/*under er koden til slideshowet*/
.slider {
  width: 100%;
  height: 300px;
  margin: 20px auto;
  box-sizing: border-box;
  overflow: hidden;
}

img{
  width: 100%;
}
#img {
  width: 100%;
  height: 100%;
  animation: ani 4s linear;

}

#logo{
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/* kode til siden LogIn.html*/
label{
  padding: 20px;
}
#LogIn{
  margin: 60px;
}
/* kode til siden Offers.html*/
.offers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: rgb(203,203,203);

}
.destination{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: rgb(203,203,203);

}
/* kode til de ulike turene*/
.tur{
color: black;
padding: 20px;
transition: 0.5s;
}
.tur:hover{
  background-color: #e9e9e9;
  transform: scale(1.03);

  transition-timing-function: ease;
}



/* koden til hver enkelt side til turene*/
.travelInnhold{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  align-items: center;
}
.text{
  grid-column: span 2;
}
.travelInnhold img{
  width: 80%;
}
@keyframes ani {
  0% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
