body{
  margin: 0;
  background-color: #e9e9e9;
}
header{
    font-size: 20px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(184, 184, 184);

}
.navbar>a{
    text-decoration: none;
    color: black;

}
.navbar p:hover{
  background-color: #ececec;
}
.navbar p{
  padding: 20px;
  border-radius: 10px;
  transition: 1s;
  }

  @media(max-width:600px){
    body{
    background-color: gray;
    }

