body{
  margin: 0;
  background-color: #e9e9e9;
}
header{
    font-size: 20px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: #868686;

}
.navbar>a{
    text-decoration: none;
    color: black;
}
.navbar p:hover{
  background-color: #c7c7c7;
  transition-timing-function: ease-in-out;
  transition: 1s;
}
.navbar p{
  padding: 20px;
  border-radius: 10px;
  }

  @media(max-width:600px){
    body{
    background-color: gray;
    }